### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd
import os

print(os.getcwd())

# File to Load (Remember to Change These)
file_to_load ="./pandas-challenge/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

/Users/shalynlavoie/Desktop

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [43]:
total_players = len(purchase_data_df["SN"].value_counts())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
unique_items = len(purchase_data_df["Item ID"].unique())
Avg_Price = purchase_data_df["Price"].mean()
number_ofpurchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame({"Item ID": [unique_items], "Price": [Avg_Price], "Purchase ID": [number_ofpurchases], "Total_Revenue": [total_revenue]})
summary_df

   Item ID     Price  Purchase ID  Total_Revenue
0      179  3.050987          780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [73]:
#drop duplicates of purchases
unique_usernames_df = purchase_data_df.drop_duplicates(subset = "SN")
#group genders
gender_groups_df = unique_usernames_df.groupby(["Gender"])

gender_groups_df.head()

#gender count and percentage
gender_count = gender_groups_df["Gender"].count()
gender_percentage = (gender_count / total_players) * 100


gender_df = pd.DataFrame({"Total Count" : gender_count, "Percentage of Player": gender_percentage})
gender_df

                       Total Count  Percentage of Player
Gender
Female                          81             14.062500
Male                           484             84.027778
Other / Non-Disclosed           11              1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [82]:
#group genders
gender_groupscalculations_df = purchase_data_df.groupby(["Gender"])


purchase_count = gender_groupscalculations_df["Purchase ID"].count()
average_purchase_price = gender_groupscalculations_df["Price"].mean()
total_purchase_value = gender_groupscalculations_df["Price"].sum()
average_total_Purchase_person = total_purchase_value / gender_count

#Print DataFrame
gender_groupscalculations_df = pd.DataFrame({"Purchase ID": purchase_count, "Price": average_purchase_price, "Total Value": total_purchase_value, "Average Person": average_total_Purchase_person})
gender_groupscalculations_df

                       Purchase ID     Price  Total Value  Average Person
Gender
Female                         113  3.203009       361.94        4.468395
Male                           652  3.017853      1967.64        4.065372
Other / Non-Disclosed           15  3.346000        50.19        4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [112]:
#Make bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
       
#Put players into bins
purchase_data_df["Age Range"]= pd.cut(purchase_data_df["Age"], bins, labels= labels)
Age_players_df= purchase_data_df.groupby("Age Range")
Age_players_df.max()

#Calculate the numbers and percentages by age group
age_count= Age_players_df["Age"].count()
age_percentage = age_count / total_players * 100

#create Dataframe for ages
age_demographics_df = pd.DataFrame({"Age Count": age_count, "Age Percentage": age_percentage})
age_demographics_df

           Age Count  Age Percentage
Age Range
<10               23        3.993056
10-14             28        4.861111
15-19            136       23.611111
20-24            365       63.368056
25-29            101       17.534722
30-34             73       12.673611
35-39             41        7.118056
40+               13        2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
#Bin the purchase data by age, Purchase count, avg. purchase price, avg. purchase total per person
purchasecount = Age_players_df["Purchase ID"].count()
avgpurchaseprice = Age_players_df["Price"].mean()
avgpurchasetotal = Age_players_df["Price"].sum()
avgtotalpurchaseperperson = avgpurchasetotal / age_count

ageanalysis_df = pd.DataFrame({"Purchase ID": purchasecount, "Average Purchase Price": avgpurchaseprice, "Average Purchase Total": avgpurchasetotal, "Avg Total Purchase Per Person": avgtotalpurchaseperperson})
ageanalysis_df

,Purchase ID,Average Purchase Price,Average Purchase Total,Avg Total Purchase Per Person
Age Range,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
#Group top spenders
spenders_df = purchase_data_df.groupby(["SN"])

purchase_count = spenders_df["Purchase ID"].count()
avg_purchase_count = spenders_df["Price"].mean()
total_purchase_value = spenders_df["Price"].sum()

#create DataFrame
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count, "Avg Purchase Count": avg_purchase_count, "Total Purchase Value": total_purchase_value})

#Sort the total purchase value column in descending order
top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending= False)

#Display Preview DF
top_spenders_df[["Purchase Count", "Avg Purchase Count", "Total Purchase Value"]].head()

             Purchase Count  Avg Purchase Count  Total Purchase Value
SN
Lisosia93                 5            3.792000                 18.96
Idastidru52               4            3.862500                 15.45
Chamjask73                3            4.610000                 13.83
Iral74                    4            3.405000                 13.62
Iskadarya95               3            4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame